.comment {
    font-size: 0.9rem;
    border-bottom: 2px solid #353946;
    img {
       width: 45px;
       height: 45px;
       margin-right: 10px;
       object-fit: cover;
    }
    &__header {
       color: #fff;
    }
    &__body {
       overflow: hidden;
    }
 }
 